select {
      margin: 10px;
      padding: 8px;
      width: 200px;
    }
    #resultContainer {
      margin-top: 20px;
      padding: 10px;
      border: 1px solid #ccc;
      background-color: #f9f9f9;
    }
    .result-item {
      display: flex;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      padding: 10px;
    }
    .result-item img {
      width: 150px;
      height: auto;
      margin-right: 20px;
    }
    .result-item div {
      display: flex;
      flex-direction: column;
    }
    .result-item h4 {
      margin: 0;
    }
    .result-item p {
      margin: 5px 0;
    }

.basicFiltersbox, .toggleDropdownbox, .button_container {
    width: 100%;
    height: 80px;
    float: left;
  }
  .dropdown-content {
            display: none;
            margin-top: 10px;
        }
    #toggleDropdown {
            background-color: #007bff;
            color: white;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        #toggleDropdown:hover {
            background-color: #0056b3;
        }

        #toggleDropdown:active {
            background-color: #004494;
        }